body
{
    font-size: 15pt;
    background-color: rgb(50, 51, 56);
    margin: 0;
    overscroll-behavior-y: contain;
    user-select: none;
}

#canv
{
  position: absolute;
  top: 25%;
    left: 50%;
  transform: translateY(-25%) translateX(-50%);
}

button
{
  width: 100%;
  background-color: rgb(63, 66, 73);
  color: white;
  border-radius: 2em;
  font-family: 'Courier New', Courier, monospace;
  padding: 0.5em;
}

button:active
{
  background-color: rgb(30, 31, 35);
}

#upTable
{
  width: 100%;
  position: absolute;
  top: 75%;
}